.container{
    width: 640px;
    height: 640px;
    border: 20px solid red;
    display: flex;
    flex-wrap: wrap;
}

.white{
    width: 80px;
    height: 80px;
    background-color: white;
}
.black{
    width: 80px;
    height: 80px;
    background-color: black;
}